@keyframes expand {

  0% {
    height: 20px;
  }

  50% {
    height: 70px;
  }

  100% {
    height: 20px;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.page-content {
  background: black;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.page-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 100%;
  border: 2px solid gray;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
  margin-bottom: 22px;
  outline: none;
  color: white;
  background-color: #191919;
}

.login-button {
  background-color: #147fdd;
  font-size: 22px;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  transition:  all ease-in-out 0.2s;
}

.login-button:hover {
  background-color: #0b6bc0;
}

.login-button:disabled {
  background-color: gray;
  cursor: default;
}

.login-title {
  text-align: center;
  margin-bottom: 60px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  user-select: none;
  background-color: rgb(4, 104, 191);
  color: white;
  display: flex;
  gap: 10px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.loading-text {
  display: none;
}

.loading .line {
  background-color: white;
  width: 20px;
  height: 20px;
  animation: expand infinite 1s;
}

.loading .line:nth-child( 1 ) {
  animation-delay: 0.1s;
}

.loading .line:nth-child( 2 ) {
  animation-delay: 0.2s;
}

.loading .line:nth-child( 3 ) {
  animation-delay: 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title-area {
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 22px;
}

.header-nav a {
  color: #808080;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
}

.header-nav a:hover {
  color: white;
}

.header-user-area {
  display: flex;
  gap: 10px;
  font-size: 22px;
}

.header-user-image-area {
  width: 36px;
  height: 36px;
}

.header-user-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.search-area {
  border: 3px solid #147fdd;
  width: 40%;
  border-radius: 8px;
  display: flex;
  margin: 60px auto 0 auto;
  transition: ease-in-out 0.2s all;
}

.search-area.disabled {
  border-color: #808080;
}

.search-input {
  font-size: 18px;
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: none;
  background: none;
  color: white;
}

.button-input {
  background-color: #147fdd;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 0 20px;
  transition: all ease-in-out 0.2s;
}

.button-input:hover {
  background-color: #0d518d;
}

.button-input:disabled {
  background-color: #808080;
}

.album-list {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.album-list a {
  text-decoration: none;
}

.album {
  text-decoration: none;
  width: 200px;
}

.album-image-area {
  width: 200px;
  height: 200px;
}

.album-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-status-area {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10px;
}

.album-name {
  font-size: 16px;
  font-weight: 700;
}

.album-artist-name {
  font-size: 14px;
  color: #ececec;
}

.album-searched {
  text-align: center;
}

.page-album {
  display: flex;
}

.track-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  margin-bottom: 5px;
}

.track > * {
  width: 100%;
  text-align: center;
}

.album-detail {
  width: 300px;
  text-align: center;
}

.user-info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  width: 300px;
}

.profile-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  font-size: 19px;
  font-weight: 700;
}

.profile-input {
  width: 100%;
  font-weight: 700;
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  min-height: 34px;
}

.profile-textarea {
  height: 100px;
  resize: none;
}

.profile-button {
  display: block;
  color: white;
  background-color: #0b6bc0;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  width: 80%;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;
}

.profile-button:hover {
  background-color: #0d518d;
}

.profile-button:disabled {
  background-color: gray;
  cursor: default;
}

.user-profile-image-area {
  height: 75px;
  width: 75px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.user-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
